@model FinishPaymentViewModel

@{
    ViewData["Title"] = "Confirm Payment";
}

<h2>Потвърдете плащането</h2>

<p>
    Сигурни ли сте че искате да изпълните плащането?
</p>



<form asp-action="Finish" method="post">
    <input type="hidden" asp-for="PaymentId" />
    <button type="submit" class="btn btn-success">Потвърждавам</button>
    <a asp-action="GetAll" asp-controller="Payment" class="btn btn-secondary ms-2">Отказ</a>
</form>
